        .container{
            max-width:1800px;
            width:100%;
        }
            body {
                font: 10px;
                margin-top:50px;
                font-family: 'Roboto', sans-serif;
                
            }
            p{
                font: 12px helvetica;
                padding-left:10px;
            }
            #chart { 
                background: #fff;

            }
            #chart .remove {
              position: relative !important;
            }
            #chart1{
                padding-top:30px;
                height: 450px;
            }
            p {
               
            }
            .axis path, .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }
            button {
                right: 50px;
                top: 10px;
            }
            select {
                outline: none;
            }
			.cs-navbar {
                background-color: #ffb574;
                border-bottom:0;
                color: white;
            }
            .cs-navbar .navbar-brand {
                color: white;
                font-size: 10px;
            }
            #displayList{
                margin-top:50px;
                border:0;
                height:350px;

            }
            #displayList option{
                font-size: 16px;
                line-height: 300px;
                padding-top:20px;
                padding-bottom:20px;
                outline: none;
            }
            option:hover,
            option:focus,
            option:active,
            option:checked {
                background: linear-gradient(#ffb574, #ffb574);
            }
            option.green:hover,
            option.green:focus,
            option.green:active,
            option.green:checked {
                background: linear-gradient(#77cc25, #77cc25);
                opacity: 0.7;
                color:#fff;
                outline: none;
            }
            option.red:hover,
            option.red:focus,
            option.red:active,
            option.red:checked {
                background: linear-gradient(#cf6a6a, #cf6a6a);
                opacity: 0.7;
                color:#fff;
                outline: none;
            }
            option.gray:hover,
            option.gray:focus,
            option.gray:active,
            option.gray:checked {
                background: linear-gradient(#e9ede6, #e9ede6);
                opacity: 0.7;
                color:#fff;
                outline: none;
            }
            .btn{
                  margin: -20px 10px 0px 10px;
            }
        
             p#subtitle-50{
                  margin-left: 455px;
                    font-size: 15px;
            }
            .brush .extent {
                stroke: #000;
                fill-opacity: .125;
                shape-rendering: crispEdges;
            }
            .col-sm-1{
                padding-left:0px;
            }
            #ourvideo{
                margin: 6% 0;
                width:100%;
            }
            .circles {
                font-size:14px;
                padding-right:25px;
            }

			.circlevn{
                color:#d53f3f;
            }
            .circlen{
                color:#cf6a6a;
            }
            .circlene{
                color:#e9ede6;
            }
            .circlep{
                color:#c1f68e;
            }
            .circlevp{
                color:#77cc25;
            }


            @media screen and (max-width: 900px) {
             .container{
                 width:600px;
                }

            }