@font-face {
            font-family: ff-tisa-web-pro;
            src: url("TE115761.ttf") format("truetype");
}


@font-face {
            font-family: league-gothic;
            src: url("LeagueGothic-Regular.otf") format("truetype");
}

        


#progressSpinner {
	
	background-image: url('../img/animatedCircle.gif');s	
}


#bdy{
 	color: #FFFFFF;
	font-family: "ff-tisa-web-pro",serif;
	font-weight: 100;
	background: #F3913B; 
}

#shade, #modal, #modal-keywords { display: none; }

#shade { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; }

#modal { position: fixed; z-index: 101; top: 33%; left: 25%; width: 50%; }

#shade { background: silver; opacity: 0.5; filter: alpha(opacity=50); }

#modal-keywords { 
	position: fixed; z-index: 101; top: 20%; left:35%; width : 450px; height:350px;
	background-color: white; 
	color: black;	
	border-radius : 10px; 
	
	-moz-box-shadow: 0px 5px 5px #000; 
	-webkit-box-shadow: 0px 5px 5px #000; 
	box-shadow: 0px 5px 5px #000; 

	padding: 30px; 
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.clear {
	clear: both; 
	height : 1px; 
}

hr{
	display: block; 
	height: 1px ;
	border: 0; 
	border-top: 0.2px solid #ddd;
	opacity: 0.3;
}

a {
	color : white; 
}


.eventList {
		
	color: white; 
	text-align:center;
	
}

.eventList a {
	color: #A52A2A; 
	text-decoration:none;
}	
	

.eventList ul{
	list-style: none; 
	width: 900px; 
	list-style: none; 
	line-height: normal;
	margin: auto; 
	/*padding-left: 200px; */
}


.eventList li{
	float: left; 
	width: 250px; 
	height: 300px; 
	padding: 20px; 
	
	/*border: 1px black solid*/;
}



.eventList .event{
	margin:auto; 
	/*background : green; */
	text-align: left; 	
}

.eventList .number {
    
    background: green;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    
}


#graph1{

	/*background-color: green; */
}

#videoDiv{
	position: fixed; 
	top : 160 ; 
	right: 100 ; 
	z-index : 10; 
	width: 500px;
	height: 375px;
	cursor:move;
	padding: 0.5em; 
}

#vid {
	width : 100%; 
	height: 100%;
}

#graph2{
	
}



#flyingTweetsUl {
	list-style: none; 	
	font-size:9pt; 
}

#flyingTweetsUl li{

	width:400px; 
	position: fixed; 
	top : 300;
	left: 600 ; 
	z-index : 20; 
	opacity: 0.0; 
	
	margin-bottom: 8px;
	background: rgba(230, 230, 230, 0.2);
	
}


#flyingTweetsUl li .tweet_time{
  	border-style:solid;
	border-color: #888888; 
	border-width: 1px; 
	
	border-radius: 25px;
	
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    
    float: left; 
	color: white; 
	font-size: 10pt; 
	
	
}

#flyingTweetsUl li .tweet_text{
	width: 400px; 
}

#flyingTweetsUl li .tweet_emotion{
	float:right; 
	padding: 1 5 1 5px; 
}


#blinkingTweetsUl {

	width:100%; 
	position: fixed; 
	top : 120;
	left: 100 ; 
	list-style: none; 
	font-size:10pt; 

	opacity: 0.0;
	
}

#blinkingTweetsUl li{

	width: 400px; 
	
	/*
	border-style:solid;
	border-color: #888888; 
	border-width: 1px; 
	*/
	margin-bottom: 8px;
	background: rgba(230, 230, 230, 0.2);
	
}

#blinkingTweetsUl li .tweet_time{
	
    /*background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);*/
   	border-style:solid;
	border-color: #888888; 
	border-width: 1px; 
	
	border-radius: 25px;
	
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    
    float: left; 
	color: white; 
	font-size: 10pt; 
	
}

#blinkingTweetsUl li .tweet_text{
	
	width: 400px; 
	
}

#blinkingTweetsUl li .tweet_emotion{
	/*
	border-style:solid;
	border-color: #888888; 
	border-width: 1px; 
	*/
	float:right; 
	padding: 1 5 1 5px; 
}



#infoDebug {
	
	position:absolute; 
	top:100; 
	left:300; 
	background: #DDDDDD; 
	width: 800px; 
	height:600px; 
	z-index: 999;
	opacity: 0.9;
}
	
.selective_tweet_class{
	
	font-size: 16pt; 
	color: green; 
	font-weight: bold; 
	
}	
	

